{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A web application that stimulates 
      people to set a challenge for themselves to be completed in one month">

    <title>{% block title %}inonemonth{% endblock title %}</title>

    {% block prepend_css %}
    {% endblock prepend_css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'css/django-pagedown-bootstrap3-fix.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <!-- Use the following to quickly test CSS changes in a template,
      then move to project.css -->
    {% block append_css %}
    {% endblock append_css %}
  </head>

  <body>

    
    <nav class="navbar navbar-inverse  navbar-fixed-top" role="navigation">
      <div class="container-fluid info">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Inonemonth</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--                                                
            <li><a href="#">Link</a></li>
            -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <!--                                                
            <li><a href="#">Link</a></li>
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle " data-toggle="dropdown">Sign in <b class="caret"></b></a>
              <!--                                                
              Why does "bg-warning" color not apply on dropdown-menu?
              Need to color to "bg-warning"
              -->
              <ul class="dropdown-menu">
                  <li><a href="{% url 'github_login' %}"><img title="Github account" src="{% static 'img/github-48-black.png' %}"></a></li>
                <li class="divider"></li>
                <li><a href="{% url 'account_login' %}">Local account</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <!-- # Navigation bar -->
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav">
            <li><img src="{% static 'img/inonemonth_main.png' %}" class=""></li>
            <li><a class="navbar-brand" href="#">In One Month</a>
</li>

          </ul>
          {% comment %}
          <a class="navbar-brand" href="#">In One Month</a>
          {% endcomment %}
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
              {% comment %}
              <input type="text" placeholder="Email" class="form-control">
              {% endcomment %}
              {{ form.identification }}
            </div>
            <div class="form-group">
              {{ form.password }}
              {% comment %}
              <input type="password" placeholder="Password" class="form-control">
              {% endcomment %}
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
      </div>
    </div>
    -->
    
    <!-- # Page content -->
    {% block content %}
    {% endblock content %}

    <!-- ## Bottom of page -->
    <div class="container">
      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
      <!--                                                
      <img title="Test image" src="{{ STATIC_URL }}img/test_img.jpg">
      -->
    </div><!-- end div.container -->




    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/django-pagedown-bootstrap3-fix.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>

</html>
