{% extends "base.html" %}

{% block body_class %}challenge-detail-403{% endblock %}

{% block content %}
<div class="container">
    <div class="row outer-vertical-center">
      <div class="col-md-12 text-center inner-vertical-center centered">
      <h1>Forbidden</h1>
        <p>You cannot view this page because you are not a <a href="{% url "glossary" %}#clencher">clencher</a> nor a <a href="{% url "glossary" %}#juror">juror</a> to this challenge.</p>
    </div><!-- end div.row -->
</div><!-- end div.container -->
{% endblock content %}
