{% extends "base.html" %}

{% load staticfiles %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Glossary</h1>
        <p id="challenge-period"><strong>Challenge period</strong>: A period of time that 
        starts at the creation 
        of a challenge and lasts one month. During this period <em>jurors</em> cannot vote.</p>

        <p id="clencher"><strong>Clencher</strong>: A clencher of a specific challenge 
        is the user who started it.</p>

        <p id="juror"><strong>Juror</strong>: A juror of a specific challenge 
        is a user who got invited by the <em>clencher</em> of the challenge to vote 
        on his/her performance at the end of the <em>challenge period</em>.</p>

        <p id="voting-period"><strong>Voting period</strong>: A period of time that 
        starts as soon as the <em>challenge period</em> ends and lasts one week.
        During this period <em>Jurors</em> can make their votes and provide feedback. 
        </p>

      </div>
    </div><!-- end div.row -->
</div><!-- end div.container -->
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/hash-link-bootstrap3-fix.js' %}"></script>
{% endblock extra_js %}
