{% extends "base.html" %}

{% load staticfiles %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Glossary</h1>
        <p id="challenge-period"><strong>Challenge period</strong>: A period of time that 
        starts at the creation 
        of a challenge and lasts one month. During this period jurors cannot vote.</p>

        <p id="voting-period"><strong>Voting period</strong>: A period of time that 
        starts as soon as the <em>Challenge period</em> ends and lasts one week.
        During this period Jurors can make their votes and provide feedback. 
        </p>

        <p id="some-term"><strong>Some term</strong>:
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
        </p>

      </div>
    </div><!-- end div.row -->
</div><!-- end div.container -->
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/hash-link-bootstrap3-fix.js' %}"></script>
{% endblock extra_js %}
