/*! project specific CSS goes here. */

/* General 
-------------------------------------------------- */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* footer for pages with little content */
.home .foot, .github-signin .foot, .bind-email .foot, 
.bind-github .foot, .email-confirm .foot, .email-confirmed .foot,
.verification-sent .foot {
  position: absolute;
  bottom: 3%;
  left: 0px;
  right: 0px; 
}


/* base.html 
-------------------------------------------------- */

.dropdown-menu {
  text-align: center;
}

/* Without !important it won't overwrite */
.signin-text {
  color: #ffffff !important;
}


/* home.html 
-------------------------------------------------- */

.home .outer-centered-container {
  display: table;
  width: 100%;
  /* Shouldn't be fixed ... */
  height: 550px;
}

.home .inner-centered-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.home .inner-centered-container a {
  width: 200px;
}

.home .inner-centered-container h3 {
  margin-top: 10px; 
  margin-bottom: 25px; 
}

.home .inner-centered-container img {
  /*
  padding: 10px;
  */
}


/* challenge/challenge_detail.html 
-------------------------------------------------- */

.comments-container > ul:first-of-type {
  padding: 0px; 
}

.comments-container li {
  list-style: none;
}

.list-group-item {
  padding: 0px;
}

.list-group .list-group, .tail-comment-button {
  margin-left: 20px;
}

.tail-comment-button {
  margin-bottom: 20px;
}

#comments-closer {
  margin-bottom: 30px; 
}

.decision-thumb {
  float: right;
}


/* github_signin.html 
-------------------------------------------------- */


/* bind_email.html 
-------------------------------------------------- */

.bind-github ul {
  list-style: none; 
}


/* bind_email.html 
-------------------------------------------------- */

#email-bind-form .textInput {
  width: 400px; 
  display: inline-block;
}


/* carousel.html 
-------------------------------------------------- */

/* -- Customize the carousel -- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* -- Marketing content -- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* -- Featurettes -- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* -- Responsive css -- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



