/*
  Based on Christian Heilman's "Fork me on Github".
*/

#stage-indicator a {
  background:#ad1d28;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:700;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:.5s;
  padding:5px 40px;
  /* Override of heilman's settings */
  z-index: 99;
}

#stage-indicator a:hover {
  background:#060;
  color:#fff;
}

#stage-indicator a::before,#stage-indicator a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#stage-indicator a::after {
  bottom:1px;
  top:auto;
}

  #stage-indicator {
    position:absolute;
    display:block;
    top:0;
    left:0;
    width:200px;
    overflow:hidden;
    height:200px;
  }

  #stage-indicator a {
    width:200px;
    position:absolute;
    top:60px;
    left:-60px;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
}
