{% extends "base.html" %}

{% block prepend_css %}
  {{ form.media }}
{% endblock prepend_css %}


{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2><span class="text-warning">In one month</span> I want to attain the following:</h1>
        <form action="" method="post"> {% csrf_token %}
            {{ form }}   
            <input type="submit" value="Submit">
        </form>
      </div>
    </div><!-- end div.row -->

</div><!-- end div.container -->


{% endblock content %}
