{% extends "challenge/challenge_base.html" %}

{% load staticfiles %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}
{% load challenges_extras %}

{% block prepend_css %}
  {{ head_comment_form.media }}
{% endblock prepend_css %}


{% block left-column %}
<h2><span class="text-warning">In one month</span> I want to attain the following:</h1>

<div class="panel panel-default">
  <div class="panel-heading">{{ challenge.title }}</div>
  <div class="panel-body">
    {{ challenge.body|markdown }}
  </div>
</div>

<div class="comments-container">
  <ul class="list-group">
  {% for head_comment in challenge.headcomment_set.all %}
    <li class="list-group-item">
      <div class="head-comment">
        <div class="head-comment-content">
          <div>{{ head_comment.text }}</div>
          <div>{{ head_comment.owner|get_representation_for_user:user_role }}</div>
          <div>{{ head_comment.owner.vote.decision }}</div>
        </div>
        <div class="head-id" style="display:none;">{{ head_comment.id }}</div>             
        <button class="head-edit-button btn" style="display:none;" type="button">
          Edit 
        </button>
      </div>

      <ul class="list-group">
      {% for tail_comment in head_comment.tailcomment_set.all %}
        <li class="tail-comment list-group-item">
          <div class="tail-comment-content">
            <div>{{ tail_comment.text }}</div>
            <div>{{ tail_comment.owner|get_representation_for_user:user_role }}</div>
          </div>
          <div class="tail-id" style="display:none;">{{ tail_comment.id }}</div>             
          <button class="tail-edit-button btn" type="button" style="display:none;">
            Edit 
          </button>
          <button class="tail-delete-button btn" type="button" style="display:none;">
            Delete 
          </button>
        </li>
      {% endfor %}
      </ul>

      <button class="tail-comment-button btn" type="button">
        Add comment 
      </button>
    </li>
  {% endfor %}
  </ul>

  <br>
  <button class="head-comment-button btn" type="button" style="display:none;">
    Make vote comment
  </button>

  <div id="challenge-period-notification" class="well" style="display:none;">
    Only when the <a href="{% url "glossary" %}#challenge-period">challenge period</a> ends 
    will you be able to cast your vote! 
    That <a href="{% url "glossary" %}#voting-period">voting period</a> lasts for a week.
  </div>

  <form id="head-comment-form" action="" method="post" style="display:none;"> {% csrf_token %}
    {{ head_comment_form }}   
    <input type="hidden" value="" name="id">
    <input type="submit" value="Post" name="head-submit">
  </form>
  <form id="tail-comment-form" action="" method="post" style="display:none;"> {% csrf_token %}
    {{ tail_comment_form }}   
    <input type="hidden" value="" name="id">
    <input type="hidden" value="" name="head-id">
    <input type="submit" value="Post" name="tail-submit">
  </form>

</div>
{% endblock left-column %}


{% block right-column %}
<div class="well">
  {% if challenge.in_challenge_period %}
  <p>
  The <a href="{% url "glossary" %}#challenge-period">challenge period</a> ends 
  on <strong class="text-warning">{{ challenge.get_challenge_period_end_datetime }} (<span id="challenge-period-end-datetime-countdown"></span>)</strong>.
  </p>

  <p>
  The <a href="{% url "glossary" %}#voting-period">voting period</a> starts as soon as the 
  <a href="{% url "glossary" %}#challenge-period">challenge period</a> ends.
  </p>

  {% elif challenge.in_voting_period %}
  <p>
  The <a href="{% url "glossary" %}#voting-period">voting period</a> ends 
  on <strong class="text-warning">{{ challenge.get_voting_period_end_datetime }} (<span id="voting-period-end-datetime-countdown"></span>)</strong>.
  </p>

  {% else %}
  <p>The challenge has ended.</p>
  {% endif %}
</div>


{% comment %} This well should only be visible to jurors {% endcomment %}
<div class="well">
  <h3>How to provide a proper vote comment?</h3>
  <p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
  </p>
</div>
{% endblock right-column %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery-django-csrf-ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" charset="utf-8">
  $(function() {

      // This hack is not to be implemented in Pagedown directly.
      // That would make it impossible to render multiple forms on the 
      // same page properly.
      function fixExtraPageDownEditBarsRendering(){
          var $pagedownEditBars = $('.wmd-button-row');
          if ($pagedownEditBars.length >= 1) {
              var $slicedPageDownEditBars = $pagedownEditBars.slice(1);
              $slicedPageDownEditBars.each(function(index) {
                  $(this).hide()
              });
          }
      }

      // Shouldn't even be necessary:
      //var userApiUrl =  

      var roleApiUrl = "{{ role_api_url }}";

      var $challengePeriodNotification = $('#challenge-period-notification');

      var $headCommentButton = $('.head-comment-button');
      var $headEditButton = $('.head-edit-button');
      var $headCommentForm = $('#head-comment-form');

      var $tailCommentButton = $('.tail-comment-button');
      var $tailEditButton = $('.tail-edit-button');
      var $tailCommentDeleteButton = $('.tail-delete-button');
      var $tailCommentForm = $('#tail-comment-form');

      $.get(roleApiUrl, function(data) {
          var role = data; 

          // Show $headCommentButton in case of juror that hasn't made a headcomment yet
          // remember to remove the !
          if (role.can_make_head_comment) {
              //$headCommentButton.appendTo(".comments-container");
              $challengePeriodNotification.hide(); 
              $headCommentButton.show();
          }
          if (role.is_juror && role.challenge.in_challenge_period) {
              $challengePeriodNotification.show(); 
          }


          // Only show delete and edit buttons for comments owned by the current role
          // To omit type errors
          if (role.headcomment_set.length > 0) {
              var headComments = $(".head-comment");
              for (i in headComments) {
                  var headComment = headComments.eq(i) 
                  var headCommentId = Number(headComment.find(".head-id").text());
                  // There is maximum only 1 head comment
                  var roleHeadCommentId = role.headcomment_set[0].id;
                  if (headCommentId === roleHeadCommentId) {
                      headComment.find(".head-edit-button").show();
                  }

              }
          } 
          // To omit type errors
          // Why are there so many loops? each loop gets repeated like a hundred times, wth??
          if (role.tailcomment_set.length > 0) {
              var tailComments = $(".tail-comment");
              for (i in tailComments) {
                  var tailComment = tailComments.eq(i) 
                  var tailCommentId = Number(tailComment.find(".tail-id").text());
                  console.log("tailCommentId: " + tailCommentId);
                  for (e in role.tailcomment_set) { 
                      var roleTailCommentId = role.tailcomment_set[e].id

                      console.log("roleTailCommentId: " + roleTailCommentId);
                      if (tailCommentId === roleTailCommentId) {
                          tailComment.find(".tail-edit-button").show();
                          tailComment.find(".tail-delete-button").show();
                      }
                  }
              }
          } 

      });

      
      $headCommentButton.click(function() {
          $headCommentButton.hide();
          $headCommentForm.show();

          fixExtraPageDownEditBarsRendering();
      });

      $headEditButton.click(function() {
          $headCommentForm.appendTo($(this).parent())
          $headCommentForm.show();
          fixExtraPageDownEditBarsRendering();

          // Set id to indicate that the form is sent for edit mode
          // Need to send the id so backend knows what comment to edit.
          var headCommentId = $(this).parent().find(".head-id").text();
          $headCommentForm.find("input[name='id']").attr("value", headCommentId);

          // text should pop back if pressed on other edit button. 
          //$(this).parent().find(".head-comment-content").empty()
      });


      $tailCommentButton.click(function() {
          $tailCommentForm.appendTo($(this).parent())
          $tailCommentForm.show();

          // Set clicked head id to $tailCommentForm
          var clickedHeadCommentId = $(this).parent().find(".head-id").text()
          $tailCommentForm.find("input[name='head-id']").attr("value", clickedHeadCommentId);
      });

      $tailCommentDeleteButton.click(function() {
          // Delete clicked tail comment
          var clickedTailCommentId = $(this).parent().find(".tail-id").text()
          var tailCommentApiDeleteUrl = "/api/tail-comments/" + clickedTailCommentId + "/"
          $.ajax({
              url: tailCommentApiDeleteUrl,
              type: "DELETE", 
              data: {},
              success: function(data) {

              },
          });

          // Reload page
          window.location.reload(true);
      });

      $tailEditButton.click(function() {
          $tailCommentForm.appendTo($(this).parent())
          $tailCommentForm.show();

          // Set clicked head id to $tailCommentForm
          var clickedHeadCommentId = $(this).parent().parent().parent().find(".head-id").text();
          $tailCommentForm.find("input[name='head-id']").attr("value", clickedHeadCommentId);

          // Set id to indicate that the form is sent for edit mode
          // Need to send the id so backend knows what comment to edit.
          var tailCommentId = $(this).parent().find(".tail-id").text();
          $tailCommentForm.find("input[name='id']").attr("value", tailCommentId);

          // text should pop back if pressed on other edit button. 
          //$(this).parent().find(".tail-comment-content").empty()
      });

      // Dynamically show time untill challenge period ends
      var challengePeriodEndDateTime = '{{ challenge.get_challenge_period_end_datetime|date:"D d M Y" }} {{ challenge.get_challenge_period_end_datetime|time:"H:i" }}';
      var votingPeriodEndDateTime = '{{ challenge.get_voting_period_end_datetime|date:"D d M Y" }} {{ challenge.get_voting_period_end_datetime|time:"H:i" }}';
      // Would be a very bad idea here (constant requests to the server from each user) to use 
      // ajax calls every second just to get the format via the templating language.
      setInterval(function(){
          // How to let fromNow generate a format like "2 weeks, 3 days, 14 minutes and 3 seconds left"?
          var challengePeriodCount = moment(challengePeriodEndDateTime).fromNow();
          //var challengePeriodCount = moment().format();
          $("#challenge-period-end-datetime-countdown").text(challengePeriodCount);

          var votingPeriodCount = moment(votingPeriodEndDateTime).fromNow();
          $("#voting-period-end-datetime-countdown").text(votingPeriodCount);
      },1000);
  })
</script>
{% endblock extra_js %}
