{% extends "challenge/challenge_base.html" %}

{% load staticfiles %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}


{% block left-column %}
<h2><span class="text-warning">In one month</span> I want to attain the following:</h1>
<p>{{ model.title }}</p>
<p>{{ model.body|markdown }}</p>

<form action="" method="post"> {% csrf_token %}
  <ul class="form-container">
  {% for form in formset.forms %} 
    {{ form|crispy }}
  {% endfor %}
  </ul>
  {{ formset.management_form }}
  <input type="submit" value="Submit">
</form>
{% endblock left-column %}


{% block right-column %}
{% endblock right-column %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('.form-container').formset();
    })
</script>
{% endblock extra_js %}
