{% extends "challenge/challenge_base.html" %}

{% load staticfiles %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block append_css %}
    <link href="{% static 'css/django-dynamic-formset-bootstrap3-fix.css' %}" rel="stylesheet">
{% endblock append_css %}
 

{% block left-column %}
<h2><span class="text-warning">In one month</span> I want to attain the following:</h1>
<div class="panel panel-default">
  <div class="panel-heading">{{ model.title }}</div>
  <div class="panel-body">
    {{ model.body|markdown }}
  </div>
</div>


<h2>Invite your judges</h1>
<form action="" method="post"> {% csrf_token %}
  <ul class="form-container">
  {% comment %}
  # django-dynamic-formset does not work well with the following:
      {% crispy formset %}
  # For one, submitting fails and to do so sucessfully requires
  # considerable fixes.
  {% endcomment %}
  {% for form in formset.forms %} 
    {{ form|crispy }}
  {% endfor %}
  </ul>
  {{ formset.management_form }}
  <input type="submit" value="Submit" class="btn btn-default">
</form>
{% endblock left-column %}


{% block right-column %}
<div class="well">
  <h4>What will each juror receive?</h4>
  <p>Each juror will receive an ...</p>
</div>
{% endblock right-column %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.django-dynamic-formset.js' %}"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('.form-container').formset();
    })
</script>
<script type="text/javascript" src="{% static 'js/jquery.django-dynamic-formset-bootstrap3-fix.js' %}"></script>
{% endblock extra_js %}
